.todo {
  opacity: 1;
  transition:cubic-bezier(1, 0, 0, 1) 0.5s transform;
}
.todo.completed {
  text-decoration: line-through !important;
  opacity: 0.5;
  transform: scale(0.9);
  perspective: 917px;
}
.todo.completed .text-blueish-700 {
  text-decoration: line-through !important;
}