.todo {
  opacity: 1;
  transition:cubic-bezier(1, 0, 0, 1) 0.5s all;
}
.todo.completed {
  text-decoration: line-through !important;
  opacity: 0.5;
  transform: scale(0.9);
  perspective: 917px;
  margin: 0 !important;
}
.todo.completed .text-blueish-700 {
  text-decoration: line-through !important;
}

input {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px !important;
    border-right: none !important;
}

.sub {
  text-transform: uppercase;
  font-weight: 500;
  color: #474b4f;
  letter-spacing: 0.5pt;
  font-size: 15px;
}

.clear-btn{
  width: 120px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.search-box{
  width: calc(100% - 120px);
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  padding-left: 23px;
}


button:disabled{
  pointer-events: none;
  box-shadow: none;
  color: #999;
  cursor: not-allowed;
}